<!DOCTYPE html>
<html>
<head>
    <title>Form validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="static/css/styles.css" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
<form class="form-card">
    <div class="form-group">
        <label for="inputEmail" class="control-label">Email address</label>
        <input type="email" id="inputEmail" class="form-control owner_email" placeholder="john@example.com" data-toggle="tooltip" title="Email should be like 'john@example.com'" data-formance_algorithm='complex' required>
    </div>
    <div class="form-group">
        <label for="cardNumber" class="control-label">Card number</label>
        <input id="cardNumber" class="form-control credit_card_number" placeholder="1234 5678 9012 3456" data-toggle="tooltip" title="Card number should be from 14 to 16 digits. If still invalid, check number entered" required>
    </div>
    <div class="form-group">
        <label for="expiry" class="control-label">Expiry</label>
        <input id="expiry" class="credit_card_expiry form-control" placeholder="mm/yy" data-toggle="tooltip" title="Expiry date shold be in future" required>
    </div>
    <div class="form-group">
        <label for="cvc" class="control-label">CVV/CVC</label>
        <input id="cvc" class="credit_card_cvc form-control" placeholder="123" data-toggle="tooltip" title="Code at the back of your card. Has 3 or 4 digits" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
</div>
    <script src="static/js/jquery-1.9.1.min.js"></script> 
    <script src="static/js/bootstrap.min.js"></script>    
    <script src="static/js/jquery.formance.min.js"></script>
    <script src="static/js/awesome_form.js"></script>

</body>
</html>